<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Put in your SQL Server connectionstring here" providerName="system.data.sqlclient"/>
  </connectionStrings>
</configuration>